.container {
    height: 100vh;
    width: 70;
}
.random-reload-copy{
    gap: 2rem !important;
}

.form-select,
.copy{
    width: 300px !important;
    height: 50px;
    border-radius: 30px;
}

.refresh{
    cursor: pointer;
    font-size: 2.5rem;
}

#display-result{
    font-weight: bold;
    padding-top:3rem;
    text-align: center;
   overflow-wrap: break-word;
    /* background-color: lightgreen; */
    width:500px;
    height: 150px;
}
.create{
    margin-top:1rem;
    padding: 15px;
    border-radius: 30px;
}

.form-range-div{
    position: relative;
}

output{
    position: absolute;
    top: -25px;
    left: 50%;
}



